.box {
  display: inline-block;
  width: var(--action-btn-width);
  height: var(--action-btn-height);
}

.box span:nth-child(2) {
  width: auto;
  font-size: var(--action-btn-font-size);
  display: flex;
}

.box .firIcon svg {
  width: 24px;
  height: 24px;
}

.box .secIcon svg {
  width: 12px;
  height: 12px;
}

.box button {
  width: var(--action-btn-width);
  height: var(--action-btn-height);
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.uploadContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.uploadBtn {
  height: var(--action-btn-height);
  padding: 0 24px;
  font-size: var(--action-btn-font-size);
}