<<<<<<< HEAD
:global {
    .univer-toolbar {
        opacity: 0;
    }
=======
:global .univer-toolbar {
    opacity: 0;
>>>>>>> 2a9a14e2b9895a1a2638f951c5fc5ac5034159bd
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
<<<<<<< HEAD
=======
}

.drawerSpin {
    display: block;
    margin: 80px auto;
}

.fileLinkItem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folderItem {
    cursor: default;
}

.fileName {
    font-weight: 500;
    text-align: center;
>>>>>>> 2a9a14e2b9895a1a2638f951c5fc5ac5034159bd
}