.box {
  width: var(--action-btn-width);
  height: var(--action-btn-height);
}
.box span:nth-child(2) {
  width: auto;
  font-size: var(--action-btn-font-size);
  display: flex;
}
.box .firIcon svg {
  width: 24px;
  height: 24px;
}
.box .secIcon svg {
  width: 12px;
  height: 12px;
}
:global .ant-dropdown-menu svg {
  width: 14px !important;
  height: 14px !important;
}
