.adminContent {
    :global {
        .ant-table-body {
            scrollbar-width: thin;
            scrollbar-color: #cfcfcf transparent;

            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: #cfcfcf;
                border-radius: 6px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }

        .ant-table-wrapper {
            overflow-x: hidden;
        }

        .ant-table-cell {
            word-break: break-all;
        }
    }
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf transparent;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #cfcfcf;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}
